# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# TypeScript compiled output
dist/
build/
*.js
*.js.map
*.d.ts
*.tsbuildinfo
*.vsix

# IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Test coverage
coverage/

# Logs
log/
*.log

# Other temporary files
tmp/